@media (max-width: 60em) {
body { overflow-x:hidden; }

.projects, .image-container{display:none;}
.image-grid {display:block; }
.works-grid {grid-template-columns: 1fr;}

.text{ font-size: 0.7em; top: 102%; opacity: 100; }

.section-caption { position: relative; }

.img-grid { width: 100vw; left: 0vw; top:0vw; padding-bottom: 12vw; }



/*NAVIGATION*/
.dropdown {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
.menu-btn{
        display:block;
        position:fixed;
        top:1rem;
        right:2rem;

        background:none;
        border:none;
        cursor:pointer;

        font-size:2rem;
        z-index:2000;
    }


    .nav{

        position:fixed;

        inset:0;

        width:100vw;
        height:100vh;

        background:white;

        display:flex;
        justify-content:center;
        align-items:center;

        transform:translateX(100%);
        transition:transform .35s ease;

        z-index:1500;
    }


    .nav.open{
        transform:translateX(0);
    }


    .nav-links{

        display:flex;

        flex-direction:column;

        gap:3rem;

        text-align:center;

        font-size:2rem;

        padding:0;
        margin:0; 
    }


    .dropdown-menu{
        position:static; border:none; background:none; margin-top:1rem; 
    }
    .dropdown-menu li {
    padding:.5rem 0;
    text-align:center; }








h1 {
  font-size: 1.4em; line-height: ; 
}
.intro{ 
  font-size: 0.7em; line-height: ;
  position:absolute; top:90vw; left:0em; width:50vw } 
.image-container { left:-2; top: 10vw; width: 100vw; }

.projects{
    bottom:5em;
    font-family: "Solway", serif; font-weight:300; font-style:normal;
    font-size: 1em;
    line-height: 1em;
    position: absolute;
    left: 2em;
    width: 25em;
}





/*SIDE BAR*/




.title { left:5px; margin-top:4em;}

.overview {
    font-family: "Solway", serif; font-weight:300; font-style:normal;
    font-size: 1em;
    line-height: 1.6em;
    position: relative;
    left: 5px;
    width: 80vw;
    margin-bottom:2em;
}

.section{
    display:block;
    width:85vw;
    left:0;
    margin:0 auto;
    padding-bottom: 15vw;
    min-height:auto;
    height:auto;
}
.section.img-grid{
   padding-bottom:0;
}

  .section-caption{
   width: 85vw;
   column-count: 1;
}

  h3{ position:relative; font-size:1.5em; left:5px }
  /*.section-caption{  width:85vw; left:5px; font-size:0.8em; position:absolute; }*/





.overview-section{ font-weight:500; margin-top: 2em; }
.overview-info{ font-weight:300; margin-top: 0.5em; }




 



.project-info{ position: relative; height:150vw}
.project-layout{position: relative; top:15vw}
.rectangle { display:none; }

.copyright{ display:none; position: relative; text-align: center; margin-bottom:1vw; }
.copyright-home{ font-weight:300; font-size:0.7em; left:0; text-align: center; margin-bottom:1vw;}



.full-bleed{ position:absolute; width:90vw; left: 0px}
.content{ position:absolute;}

.img-grid{
    overflow-x: hidden;
    z-index: 10;
    width: 100vw;
    left: 0vw;
    position: relative;
    margin-top: 0vw;
    margin-bottom: 3vw;
}



.pg1{ height:125vw; }

.pg3{ height:100vw; }

/*.pg5{ height:60vw; }
.pg6{ height:143vw; }*/
.pg7{ height:45vw; }
./*pg8{ height:50vw; }
.pg9{ height:200vw; }*/
.pg12{ height:30vw; }


.pg16{ height:125vw; }



.n1{ left:0; top:170vw;}
.n2 { top:50vw; }
.n3{ top:50vw; }
.n4{ top: 165vw; right: 7vw; width: 35%; }
.n5{ top:140vw;}
.n6{ top:175vw;}
.n7{ top:230vw; }
.pg18{ height:290vw; }


.tk1{ top:0vw;}
.tk1-1{ left:5px; top:0vw;}
.tk2 { width:50%; left:0px; top:60vw; }
.tk3{ width:40%; left:50vw; top:125vw; }
.tk4{ width:40%; left:25px; top:95vw; }
.tk5{  left:0vw; top:170vw; }
.pg11{ height:220vw; }

.h1{ top:0vw; }
.h2{ top:195vw; left:0 }
.h3{ width: 45vw; top: 65vw; left: 5vw; }
.h4{width: 45vw; left: 45vw; top: 45vw; }
.h5{ left: 2vw; top: 107vw; width: 35vw; }
.h6{ left: 36vw; top: 120vw; width: 50vw; }
.h7{ width: 50vw; left: 26vw; top: 161vw; }
.h8{ width:90vw;}
.h9{ width: 42vw; left: 4vw; top: 62vw; }
.h10{ width:42vw; left:48vw; top:62vw; }
.h11{ width:42vw; left:4vw; top:85vw; }
.h12{ width:42vw; left:48vw; top:85vw; }
.pg2{ height:240vw; }
.pg10{ height:120vw; }


.t1 { width:57vw; left:0vw; top:53vw; }
.t2 { width:30vw; left:59vw; top:53vw; }
.t3 { height:35vw; left:0vw; top:93vw; }
.t4 { height:35vw; left:30vw; top:93vw; }
.t5 { height:35vw; left:64vw; top:93vw; }
.pg4{ height:123vw; }

.b1 { width:43vw; left:1vw; top:65vw; }
.b2{ width:43vw; left:47vw; top:65vw; }
.b3{ width:43vw; left:1vw; top:93vw; }
.b4{ width:43vw; left:47vw; top:93vw; }
.pg14{ height:114vw; }
.pg15{ height:65vw; } /*section*/
.b5{ width:33vw; left:0vw; top:47vw; }
.b6{ width:26vw; left:31vw; top:53vw; }
.b7{ width:31vw; left:58vw; top:56vw; }
.b8{ top:92vw; left:0; }
.b9 { border: 2px solid #555; width:40vw; left:0vw; top:0vw; }
.b10{ border: 2px solid #555; width:40vw; left:44vw; top:0vw; }
.b11{ border: 2px solid #555; width:40vw; left:0vw; top:35vw; }
.b12{ border: 2px solid #555; width:40vw; left:44vw; top:35vw; } 

.web1{ width:43vw; left:0; top:45vw; }
.web2{ width:43vw; left:45vw; top:45vw; }
.web3{ width:43vw; left:0; top:72vw; }
.web4{ width:43vw; left:45vw; top:72vw; }
.web5{ width:43vw; left:0; top:99vw; }
.web6{ width:43vw; left:45vw; top:99vw; }
.pg17{ height:120vw; }



.a1{ width:58vw; left:32vw; top:57vw; }
.a2{ height:46vw; left:0vw; top:55vw;}
 



.navigating{ width:100% }
.back{ 
  font-family: "Solway", sans-serif;
  font-size:1em;
  position: absolute;
  left:0px;
  margin-top: 1vw;
  color: black;
  width: 20%;}
.go{ 
  font-family: "Solway", sans-serif;
  font-size:1em;
  position: absolute;
  right:8vw;
  margin-top: 1vw;
  color: black;
  width: 15%;}
.pg13{ height:3vw;x}







.tl{top:105vw}
.th{top:95vw; }


}












